* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6em;
}

/* main Container CSS */
.container {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  overflow: hidden;
}

/* CSS for buttons/ applicable globally */
.button {
  background-color: mediumblue;
  color: #fff;
  padding: 5px 15px;
  border: none;
}

/* CSS logo */
.logo {
  width: 30%;
  margin-top: 10px;
  float: left;
}

.logo img {
  width: 65%;
}

/* Header CSS */
#main-header {
  background-color: black;
  color: aliceblue;
}

#main-nav {
  width: 70%;
  float: right;
  margin-top: 50px;
}

#main-nav ul {
  float: right;
  list-style-type: none;
  padding: 0;
}

#main-nav li {
  display: inline-block;
}

.nav-links {
  text-decoration: none;
  color: aliceblue;
  padding: 5px 20px;
  /* font-size: 18px; */
}

.nav-links:hover {
  text-decoration: none;
  background-color: aliceblue;
  color: black;
  transition: 0.6s ease-in-out;
}

/* CSS of Form */
.myForm {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.form-label {
  text-align: center;
}

/* .myForm .form-group {
  margin: auto;
} */

.myForm label {
  display: block;
  text-align: center;
}

/* displays the setting for particular feilds */
.myForm input[type="text"],
.myForm input[type="password"] {
  padding: 5px;
  width: 100%;
}
